In [2]:
import requests
import pandas as pd
from datetime import datetime, timedelta
from dotenv import load_dotenv
import os

### API BCRA: Cotización Dólar Oficial

In [3]:
load_dotenv()
tokenBCRA = os.getenv("tokenBCRA") # Es necesario generar un token de acceso
urlBCRA = 'https://api.estadisticasbcra.com/usd_of'

In [6]:
r = requests.get(urlBCRA, headers={
        'Authorization': f'BEARER {tokenBCRA}'
})

dolar_oficial = r.json()

cotizacion_bcra = (pd.DataFrame(dolar_oficial)
                    .rename(columns={'d':'Fecha', 'v':'Cotizacion'})
                    .sort_values(by='Fecha', ascending=False))
cotizacion_bcra.head()

           Fecha  Cotizacion
5348  2023-12-15      801.08
5347  2023-12-14      800.53
5346  2023-12-13      799.98
5345  2023-12-12      366.50
5344  2023-12-11      366.00

### Dólar API

In [7]:
url = 'https://dolarapi.com/v1/dolares'
r = requests.get(url)
data = r.json()

cotizaciones = []
for i in range(0, len(data)):
    cotizaciones.append([
        data[i]['nombre'],
        data[i]['compra'],
        data[i]['venta'],
        datetime.strptime(data[i]['fechaActualizacion'],"%Y-%m-%dT%H:%M:%S.%fZ")+ timedelta(hours=-3)
    ])

cotizaciones_dolar = pd.DataFrame(cotizaciones, columns=['tipo_dolar', 'compra', 'venta', 'fecha'])

In [8]:
cotizaciones_dolar

                tipo_dolar   compra    venta               fecha
0                  Oficial   781.00   821.00 2023-12-17 17:52:00
1                     Blue   940.00   970.00 2023-12-17 17:52:00
2                    Bolsa   994.46  1002.40 2023-12-17 17:52:00
3  Contado con liquidación   971.59   985.78 2023-12-17 17:52:00
4                Mayorista   365.45   366.45 2023-12-17 17:52:00
5                   Cripto   964.00   988.00 2023-12-17 17:52:00
6                  Tarjeta  1249.60  1313.60 2023-12-17 17:52:00