In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta

In [2]:
url = 'https://dolarapi.com/v1/dolares'
r = requests.get(url)
data = r.json()

In [3]:
cotizaciones = []
for i in range(0, len(data)):
  cotizaciones.append([
      data[i]['nombre'],
      data[i]['compra'],
      data[i]['venta'],
      datetime.strptime(data[i]['fechaActualizacion'],"%Y-%m-%dT%H:%M:%S.%fZ")+ timedelta(hours=-3)
  ])

cotizaciones_df = pd.DataFrame(cotizaciones, columns=['tipo_dolar', 'compra', 'venta', 'fecha'])

In [4]:
cotizaciones_df

                tipo_dolar   compra    venta               fecha
0                  Oficial   781.00   821.00 2023-12-17 17:52:00
1                     Blue   940.00   970.00 2023-12-17 17:52:00
2                    Bolsa   994.46  1002.40 2023-12-17 17:52:00
3  Contado con liquidación   971.59   985.78 2023-12-17 17:52:00
4                Mayorista   365.45   366.45 2023-12-17 17:52:00
5                   Cripto   964.00   988.00 2023-12-17 17:52:00
6                  Tarjeta  1249.60  1313.60 2023-12-17 17:52:00